@font-face {
    font-family: 'Lelushka';
    src: url(../fonts/Lelushka_Personal_use.otf);
}

@font-face {
    font-family: 'Century Gothic';
    src: url(../fonts/GOTHIC.ttf);
}

html, body {
	margin:0;
	border:0;
	padding:0;
	font-size:17px;
	font-family:'Century Gothic';
	overflow-x:hidden;
    position: relative;
    background: url('../img/backgroundDisplay.png');
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    display: table;
    width: 100%;
}



body #displayBoard{
    background-color: #fafafa;
    width: 1000px;
    height:500px;
    border-radius: 30px;
    box-shadow:0 0px 30px rgba(0, 0, 0, 0.301);
    color:#2d6db7;
    display: table-cell;
   
}

.display_animate{
    animation: moveLeft 1s linear;
    -webkit-animation: moveUp 1s linear;
}

@media(max-width:768px) {
    body #displayBoard{
        font-size: 70%;
    }
}

@keyframes moveUp {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    };
}

@-webkit-keyframes moveUp {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    };
}

h2{letter-spacing: 1px;}

.title{
    font-family: Lelushka;
    font-size: 115px;
    color: #83039c;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.014);

}

.title span{color:#2d6db7}

.title2 { 
    font-family: Lelushka;
    font-size: 200%;
    color: #83039c;
}

.title2 span{color:#2d6db7}

#begin {
    width: 20%;
    height: 60px;
    padding: 15px 40px;
    font-size: 105%;
	border-radius: 20px;
	background: #2d6db7;
	color: var(-white);
    font-family: century gothic;
	cursor: pointer;
	position: relative;
	transition: all 0.6s ease;
	z-index: 1;
	overflow: hidden;
	outline: none;
    box-shadow:0px 5px 5px rgba(0, 0, 0, 0.151);
}   

#begin:before {
	content: "";
	position: absolute;
	top: 0;
	left: -10%;
	width: 0;
	height: 120%;
	background: #83039c;
	z-index: -1;
	transition: all 0.6s ease;
	transform: skewX(10deg);
}

#begin:hover {
	color: white;
	background-color: #ffffff;
}

#begin:hover:before {
	width: 120%;
} 

@media(max-width:768px) {
   #begin{
        margin: 0px;
        padding: 0px;
        width: 50%;;
      }
}

